    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Try US… You’ll Like Us!</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2019 - The Start</h4>
                    <h4 class="subheading">Our Humble Beginning</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Our Goal</h4>
                    <h4 class="subheading">Serve to Grow</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Our goal is to make the right technology available to our customers and bridge the gap between the technology makers and the people. We strive to create unmatched value for our customers business processes and establish ourselves as reliable, consistent and professional organisation.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Our Services</h4>
                    <h4 class="subheading">Transition to Full Service</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">GL Enteprises provides inverter and UPS repair/maintenance services for PAN India. Our trained technicians repair all models of inverters and UPS systems in the fastest and cheapest possible manner. We are well-recognised for our quality of service and timeliness.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2019-2020</h4>
                    <h4 class="subheading">Vision</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">To connect people with technology. To be the first choice solution provider for the customer's technological needs in Power.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>